.link {
  color: #888;
  white-space: nowrap;
  /* align-items: center;
  justify-content: center;
  display: flex; */

  text-decoration: none;
  font-size: 0.9rem;

  transition: all ease 0.3s;
}

.link:hover {
  color: #3a6ea5;
  font-size: 1rem;
}

.link-container {
  margin-top: 30px;
}
