.todo-card {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.todo-card.is-pinned {
  border: 4px solid rgb(6, 157, 244);
  background-color: #f0f8ff;
}

.todo-card.is-completed {
  background-color: #eee;
  font-style: italic;
}

.todo-card.is-completed.is-pinned {
  border-left-color: #999;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.todo-button-container {
  display: flex;
  gap: 12px;
}

.todo-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.todo-button:focus-visible {
  outline: 2px solid rgb(6, 157, 244);
  outline-offset: 12px;
}

.todo-button:active {
  transform: scale(0.92);
}

.todo-button.delete:hover {
  color: red;
}
.todo-button.completed:hover,
.todo-card.is-completed .todo-button.completed {
  color: green;
}

.todo-button:hover,
.todo-card.is-pinned .todo-button.pin {
  color: rgb(6, 157, 244);
}

.todo-button.important:hover,
.todo-card.is-important .todo-button.important {
  color: gold;
}

.todo-body {
  text-align: left;
  word-break: break-all;
  letter-spacing: 0.05rem;
}

.todo-body.is-completed,
.todo-date.is-completed {
  text-decoration: red line-through;
}
