.todo-card {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.todo-card.pinned {
  border: 1px solid red;
}

.todo-card.completed {
  background-color: #eee;
  font-style: italic;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.todo-button-container {
  display: flex;
  gap: 12px;
}

.todo-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.todo-button.delete:hover {
  color: red;
}
.todo-button.toggle:hover {
  color: green;
}

.todo-button.pinned:hover {
  color: rgb(6, 157, 244);
}

.todo-body {
  text-align: left;
  word-break: break-all;
  letter-spacing: 0.05rem;
}

.todo-body.completed,
.todo-date.completed {
  text-decoration: red line-through;
}
